*{
    margin:0;
    padding: 0;
}

.container{
    padding-top: 20px;
    background: linear-gradient(135deg,#C1FFF2,#BDEDE0
    );
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    
}
.app-wrapper{
    background-color: #fff;
    min-width: 350px;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
}
.title{
    color:#96939B;
    text-align: center;
    margin:8-px 0px 40px 0px;

}
.name,
.email,
.password,
.num{
    margin: 20px;
    color:#96939B;
}
.gender{
    margin: 20px;
    color:#96939B;
}
.radi{
    margin-left: 30px;
}
.password{
    margin-bottom: 40px;
}
.input{
    height: 32px;
    font-size:20px;
    outline:none;
    width:100%;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    border-bottom-style:2px solid black;
    margin: bottom 10px;

}
.error{
    color:yellowgreen;

}
.submit{
    display:flex;
    text-transform: uppercase;
    font-size:20px;
    border-radius:25px;
    color:white;
    padding: 10px 60px;
    background:linear-gradient(to right,lightgreen,#BBDBD1);
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px, rgba(0,0,0,0.22) 0px 15px 12px;
    margin:auto;
    outline:none;
    border:none;
    cursor: pointer;
    transition: all 0.1s;
    margin-top: 20px;
    margin-bottom: 20px;
}
button:active{
    transform: translateY(2px);
}
.form-success{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    min-width: 370px;
    color:#BBDBD1;
}
